
* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
}

.controls-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls-row span {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.controls-row + .controls-row {
  margin-top: 5px;
}

input {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}

input[name="api_key"] {
  display: inline-flex;
  flex: 1;
}

#etc {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

#list {
  overflow: scroll;
  padding: 10px 0;
}

#controls {
  padding: 5px;
  flex-grow: 0;
}

#list .list-item {
  padding: 5px;
}

#list .list-item span.from,
#list .list-item span.to {
  font-weight: 600;
}

#list .list-item + .list-item {
  border-top: 1px solid #ccc;
}

#list ._template {
  display: none;
}

#map {
  width: 100vw;
  height: 80vh;
}